<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.manager.dao.TbItemCustomMapper">


    <!--定义一个sql片段-->

    <sql id="Base_Column_List">
    i.id, i.title, i.sell_point as sellPoint, i.price, i.num, i.barcode, i.image, i.cid,
    case i.status
    WHEN  1 THEN '正常'
    WHEN  2 THEN '下架'
    WHEN  3 THEN '删除'
    ELSE '未知' END AS statusName,
    i.created, i.updated,c.name as catName
  </sql>
    <sql id="where_Column">
        <where>
            i.status !=3
            <if test="itemQuery!=null and itemQuery.title!=null and itemQuery.title!=''">
                and  i.title like '%${itemQuery.title}%'
            </if>

        </where>
    </sql>

    <!--count查询-->
    <select id="countItems" parameterType="com.qf.manager.pojo.dto.ItemQuery" resultType="_long">
        select count(1)
        from tb_item i
        <include refid="where_Column"/>
   </select>

    <!--定义data查询-->
    <select id="listItemsByPage"
            resultType="com.qf.manager.pojo.vo.TbItemCustom">

        select
        <include refid="Base_Column_List"/>
        from tb_item i left join tb_item_cat c
        ON i.cid=c.id
        <include refid="where_Column"/>
        order by i.id
        limit #{pageparam.offset},#{pageparam.limit}
    </select>


    <select id="listIndexByTwo" resultType="com.qf.manager.pojo.vo.TbItemIndex">
      SELECT
    i.id,
    i.title,
    i.sell_point as sellPoint,
    i.price,
    i.image,
    c.name as catName
    FROM
    tb_item i
    LEFT JOIN tb_item_cat c ON i.cid = c.id
    WHERE
    i.status = 1
    </select>


</mapper>